@import "tailwindcss";

@layer base {
  body {
    background-color: #09090b; /* zinc-950 */
    color: #f4f4f5; /* zinc-100 */
    font-family: 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }

  /* Custom Sleek Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #27272a; /* zinc-800 */
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3f3f46; /* zinc-700 */
  }
}
